html {
  height: 100%;
  width: 100%;
}

.pageHeader {
  width: 99vw;
  border: 5px solid #17276c;
  background-color: #f3d168;
  height: 50px;
  font-size: 200%;
  text-align: center;
  padding-top: 10px;
}

.infoCard {
  flex: 0 0 500px;
  background-color: #b1b5b9;
  border: 2px dotted #f3d168;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #b1b5b9;
  flex: 0 0 200px;
  padding: 20px;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.wrapper {
  display: flex;
  border: 5px solid #17276c;
  background-color: #f3d168;
  width: 99vw;
  flex-wrap: wrap;
}

header {
  width: 99vw;
  border: 5px solid #17276c;
  background-color: #b1b5b9;
  height: 100px;
  font-size: 200%;
  text-align: center;
  padding-top: 10px;
}

h3 {
  text-align: center;
}
